<Configuration>
  <Appenders>
     <Console name="ConsoleAppender" target="System.out">
	    <PatternLayout>
	        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
	    </PatternLayout>
     </Console>
     <RollingFile name ="LambdaFunctionAppender"
           fileName       ="/tmp/lambdaFunction.log"
      	   filePattern="/tmp/LambdaFunction-%d{MM-dd-yyyy}-%i.log.gz"
      	   ignoreExceptions="false"
      	   immediateFlush ="true"
           append         ="true">
	    <PatternLayout>
	        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
	    </PatternLayout>
	    <Policies>
	        <SizeBasedTriggeringPolicy size="10MB" />
	    </Policies>
     </RollingFile>
  </Appenders>
  <Loggers>
<!-- Root logger: logs everything not handled by specific loggers -->
     <Root>
 <!-- The level set on a Appender is a filter, if omitted it means no filter or all -->   
       <AppenderRef ref="ConsoleAppender"/>
       <AppenderRef ref="LambdaFunctionAppender"/>
     </Root>
 <!-- The level set on a Logger the is a threshold filter, The level given or below for the given package name -->   
	 <logger name="request.handlers">
     	<level value="DEBUG"/>
    	<appender-ref ref="ConsoleAppender" />
    	<appender-ref ref="LambdaFunctionAppender" />
	 </logger>
	 <logger name="com.zaxxer.hikari.hibernate.HikariConnectionProvider">
     	<level value="DEBUG"/>
    	<appender-ref ref="ConsoleAppender" />
    	<appender-ref ref="LambdaFunctionAppender" />
	 </logger>
  </Loggers>
</Configuration>  
